DATABASE_URL="postgresql://user:password@ep-example.us-east-1.aws.neon.tech/natiara?sslmode=require"
NEXT_PUBLIC_SITE_URL="https://natiara-designer.vercel.app"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="seu-cloud-name"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="natiara-designer"
ADMIN_EMAIL="victoroliveira12334@gmail.com"
ADMIN_PASSWORD="troque-esta-senha"
ADMIN_2FA_CODE="123456"
